* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(211, 198, 198);
    scroll-behavior: smooth;
}

main{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
    scrollbar-width: 0px;
    background-color: rgb(211, 198, 198);

}

nav{
    width: 100vw;
    height: 12vh;
    padding: .7vw 1.5vw;
    background-color: rgb(89, 117, 200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top:0;
    transition: 0.6s;
    z-index: 999;
}
 

.nav-left{
    display: flex;
    align-items: center;
    gap: 2vw;
    list-style-type: none;
}   

.nav-logo{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    scale: 1;
    /* overflow: hidden; */
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 2vw;
    list-style-type: none;
    font-weight: bold;

}

.menuIcon{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    cursor: pointer;
    z-index: 9999;
    height: 0;
    overflow: hidden;
}

.activeMenu .line{
    background-color: rgb(191, 183, 183);
}

.activeMenu .line.one{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}


.activeMenu .line.three{
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}


.activeMenu .line.two{
    opacity: 0;
}


.line{
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 6px;
    background-color: black;
    transition: all 0.4s linear;
}

.one{
    top:3px;
}

.three{
    bottom:3px;
}


.humburgerMenu{
    
    width: 90vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: rgba(255,255,255, 1);
    border-bottom-left-radius: 25px;
    padding: 5vw;
    padding-left: 20vw;
    padding-top: 7vw;
    transition: all 0.3s linear;
}

.humburgerMenuListItems{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2vw;

}

.humburgerMenuListItems a{
    font-size: 8vw;
    font-weight: bold;
    display: inline-block;
}

legend{
    width: 100vw;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(211, 198, 198);
}

.contacts{
    height: 7vh;
    width: 5vw;
    border-radius: 15px;
    background-color: rgba(149, 129, 129,0.5);
}

.servicAndTeamPageContainer{
    display: flex;
    flex-direction: column;
    min-height: 300vh;
    width: 100vw;
    align-items: center;
    gap: 2vw;
    /* height: 200vh; */
}

.servicesPage{
    background-color: rgb(211, 198, 198);
    /* background-color: rgba(149, 129, 129,0.5); */
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
    padding: 1vw 3vw;
}

.serviceCards{
    min-height: 100vh;
    max-height: 130vh;
    width: 100vw;
    display: grid;
    gap: 1.7vw;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(100px,500px));
    grid-template-rows: repeat(auto-fit,minmax(80px,350px));
}

.serviceCard{
    width: 100%;
    height: 100%;
    padding: 2vw;
    gap: 2vw;
    display: flex;
    flex-direction: column;
}

.serviceCard h5{
    font-size: 2vw;
    line-height: -3px;
}

.serviceCard img{
    width: 80%;
    height: 70%;
    object-fit: cover;

    object-position: center;

}



.teamPage{
    width: 100vw;
    min-height: 90vh;
    background-color: rgb(211, 198, 198);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 3vw;
    padding: 2vw;
}

.teamHeadline{
    font-size: 3rem;
    font-weight: 600;
}

.teamMemberContainer{
    display: grid;
    grid-template-columns: repeat(2,minmax(100px,400px));
    grid-template-rows: repeat(auto-fit,minmax(150px,320px));
    gap: 2vw;
    /* margin-bottom: 2vw; */
}

.teamMember{
    width: 100%;
    height: 100%;
    background-color: black;
    /* overflow: hidden; */
    position: relative;
    border-radius: 15px;
}

.teamMember img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;

}


.teamMemberInfo{
    width: 70%;
    height: 40%;
    background-color: rgb(211, 198, 198);
    position: absolute;
    bottom: -15%;
    left: 12%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1vw;
}

.socailHandlesOfTeamMember{
    width: 50%;
    height: 30px;
    /* background-color: black; */
    margin-left: 25%;
    display: flex;
    align-items: center;
    gap: 4px;

}

.socialHanndleOfTeamMemberImage{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.socialHanndleOfTeamMemberImage{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}


.aboutPage{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(211, 198, 198);
    display: flex;
    padding: 2vw;
    align-items: center;
}

.aboutPageTextInfo{
    width: 70vw;
    padding: 0 2vw;

}

.aboutPageTextInfo p{
    text-align: left;
}

.aboutPageTextInfo h1{
    font-size: 4rem;
    font-weight: 500;
    text-align: center;

}

.aboutPageLogoImage{
    width: 25vw;
    height: 35vw;
    margin-top: 25%;
}


@media only screen and (max-width: 650px) {

    nav{
        height: 8vh;
    }
    .nav-logo{
        height: 2rem;
        width: 2rem;
    }
    .nav-right a{
        display: none;
    }
    .menuIcon{
        height: 2rem;

        overflow: auto;
    }
    .teamMemberContainer{
        display: grid;
        grid-template-columns: repeat(1,minmax(100px,400px));
        grid-template-rows: repeat(3,minmax(150px,300px));
        gap: 2vw;
    }
}

@media (max-width:600px) {
    
.servicesPage{
    background-color: rgb(211, 198, 198);
    /* background-color: rgba(149, 129, 129,0.5); */
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
   
    padding: 1vw 3vw;
}

.serviceCards{
    margin-top: -17vh;
    min-height: 90vh;
    /* max-height: 130vh; */
    width: 100vw;
    display: grid;
    gap: 1.7vw;
    padding-left: 16vw;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(100px,400px));
    grid-template-rows: repeat(auto-fit,minmax(80px,200px));
    margin-bottom: 10vw;
}

.serviceCard{
    width: 80%;
    height: 100%;
    padding: 2vw;
    gap: 2vw;
    display: flex;
    flex-direction: column;
}

.serviceCard h5{
    font-size: 3vw;
    line-height: -3px;
}

.serviceCard img{
    width: 80%;
    height: 70%;
    object-fit: cover;

    object-position: center;

}
}

@media (max-width:520px) {
    .teamHeadline{
        font-size: 2.5rem;
    }
}

@media (min-width:900px) {
    .teamMemberContainer{
        display: grid;
        grid-template-columns: repeat(3,minmax(100px,400px));
        grid-template-rows: repeat(auto-fit,minmax(150px,320px));
        gap: 2vw;
    }
    
}

